#nav {
    position: absolute;
    height: 40px;
    width: 60px;
    margin-left: 5%;
    margin-top: 4%;
}

#nav>div {
    width: 100%;
    height: 33%;
    border-bottom: 4px solid white;
}

#header {
    background-image: url(assets/backgrounds/landing.jpg);
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    color: white;
    text-align: center;
    font-size: 30px;
}

#header>p {
    line-height: 10px;
}

#boxes {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 20%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 517px;
    left: 0px;
    color: white;
}

#offers,
#breakfast,
#lunch,
#dinner {
    width: 25%;
    position: relative;
    text-align: center;
}

#offers>div {
    height: 50%;
    display: flex;
    flex-direction: column;

}

#offers>#happy_hour {
    background-color: lightgray;
    text-align: center;
    color: #444444;
}

#offers>#party_time {
    background-color: #F15A29;
    text-align: center;
}

#offers p {
    margin-top: 35px;
}

#breakfast {
    background-image: url(assets/foodtop/breakfast.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#lunch {
    background-image: url(assets/foodtop/lunch.jpg);
    background-position: center;
    background-size: cover;
    background-color: white;
    opacity: 0.7;
    background-repeat: no-repeat;
}

#dinner {
    background-image: url(assets/foodtop/dinner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#breakfast p,
#lunch p,
#dinner p {
    margin-top: 80px;
}
#food {
    display: flex;
    flex-direction: column;
}

#fast_food {
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#drinks {
    position: absolute;
    top: 140%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.foodpic {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 445px;
    border: 10px solid white;
    box-shadow: 0px 0px 5px gray;
}

.drinkpic {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 445;
    border: 10px solid white;
    box-shadow: 0px 0px 5px gray;
}

.right_description {
    padding-left: 80px;
    width: 25%;
    color: #444444;
}

.left_description {
    padding-right: 80px;
    width: 25%;
    color: #444444;
    text-align: right;
}

#food p {
    font-family: sans-serif;
    font-size: small;
    color: #636363;
}

.box_link {
    margin-top: 40px;
}

.box_link a {
    border: 2px solid #F15A29;
    padding: 10px;
    border-radius: 3px;
}

.box_link a:link {
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #F15A29;
}

.box_link a:visited {
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #F15A29;
}

.box_link a:hover {
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 0px 2px #444444;
}

#foods_menu {
    position: absolute;
    background-image: url(assets/backgrounds/foodsBg.jpg);
    width: 100%;
    height: 650px;
    top: 1900px;
    left: 0px;
    background-size: cover;
    display: flex;
    align-items: center;
}

#menu_container {
    background-color: white;
    width: 70%;
    height: 70%;
    text-align: center;
    margin: 15% 15% 15% 15%;
    border: 1px solid gray;
}

#top_nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#top_nav>a {
    background-color: lightgray;
    width: 25%;
    border: 0.3px solid #b3b3b3;
}

#top_nav #selected {
    background-color: white;
    padding: 4px;
    border-bottom: none;
    color: #F15A29;
}

#top_nav>a:link {
    text-decoration: none;
    font-weight: bold;
    color: #444444;
}

#top_nav>a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #444444;
}

#top_nav>a:hover {
    text-decoration: none;
    font-weight: bold;
}
#pics {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#pics>div {
    width: 20%;
    padding: 40px;
    color: #F15A29;
    font-family: sans-serif;
}

#pics>div>i {
    color: #F15A29;
    font-size: xx-large;
    margin-top: 100px;
    padding: 5px;
}

#testimonials_container {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 2548px;
    left: 0px;
    text-align: center;
    justify-content: center;
}

#testimonials {
    position: relative;
    background-color: white;
    width: 70%;
    height: 75%;
    text-align: center;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#testimonials div {
    width: 50%;
    padding: 40px;

}

#testimonials div p {
    font-family: sans-serif;
    font-size: 18px;
}

#customers_pics {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    height: 30px;
}

#p1 {
    background-image: url(assets/customers/p1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(0.8);
    margin: 5px;
}

#p2 {
    background-image: url(assets/customers/p2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

#p3 {
    background-image: url(assets/customers/p3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(0.8);
    margin: 5px;
}

#customers_pics div i {
    color: #F15A29;
    font-size: x-large;
    position: absolute;

}

#customers h4 {
    color: #F15A29;
}

#about_menu h4 {
    color: #F15A29;
}
#email_section {
    position: absolute;
    top: 3070px;
    left: 0;
    background-image: url(assets/backgrounds/subscribe.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}



#form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

#cta {
    margin-top: 140px;
}

#email {
    background-color: rgba(255, 255, 255, 0.521);
    width: 60%;
    text-align: left;
    padding: 15px;
    border-radius: 4px;
}

#subscribe {
    background-color: #F15A29;
    width: 25%;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}

#footer {
    color: white;
    position: absolute;
    background-color: #f15b29;
    height: 370px;
    width: 100%;
    top: 3470px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#ftr_logo {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

#ftr_logo img {
    padding-top: 30px;
    padding-right: 5px;
}

#footer>p {
    text-transform: capitalize;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#social_media {
    text-align: center;
}

#last {
    font-size: 15px;
    margin-top: 70px;
}